<div *ngIf="project">
    <div class="row" >
        <div class="thumbnail col-md-6"  >
            <img class="img-rounded img-responsive"
                 [src]="project.imageUrl"
                 [alt]="project.name + ' image'">
            <div class="caption">
                <h4>{{project.name}}</h4>


                <p class="well">
                    {{project.description}}
                </p>

                <br>
                <strong>
                    Active:  {{project.isActive ? "Yes": "No"}}
                </strong>
                <br>

                <strong>
                    Contract Signed: {{project.contractSignedOn}}
                </strong>
                <br>

                <strong>
                    Budget: {{project.budget}}
                </strong>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-default" >Next</button>
        </div>
    </div>
</div>